body {
    background-image: url("./../images/barco.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.nav-horizontal {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $color1;
        li {
            float: left;
            a {
                background-color: $color1-Encendido;
                display: block;
                color: $marron1;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                &:hover {
                    background-color: $color3-Encendido;
                }
            }
        }
    }
}
.nav-vertical {
    ul {
        background-color: $color2;
        border: 1px solid $color1-Encendido;
        li {
            a {
                display: block;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                &:hover {
                    background-color: $color3-Encendido;
                }
            }
            text-align: center;
            border-bottom: 1px solid $color1;
            &:last-child {
                border-bottom: none;
            }
        }
    }
}
.cabecera1 {
    @for $i from 1 through 6 {
        h#{$i} {
            text-shadow: black 5px 4px 8px;
            text-align: center;
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        }
    }
}

.menu{
    background-color: $color4;
    text-align: center;
}