.row {
    &::after {
        content: "";
        clear: both;
        display: block;
    }
}

[class*="col-"] {
    float: left;
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
    display: block;
}

.row.centrada {
    margin: auto;
}

$maxColumnas: 12;
@media (min-width: 480px) {
    @for $i from 1 through $maxColumnas {
        .s-col-#{$i} {
            width: (100% / $maxColumnas) * $i;
        }
    }
}
@media (min-width: 768px) {
    @for $i from 1 through $maxColumnas {
        .m-col-#{$i} {
            width: (100% / $maxColumnas) * $i;
        }
    }
}
@media (min-width: 1280px) {
    @for $i from 1 through $maxColumnas {
        .l-col-#{$i} {
            width: (100% / $maxColumnas) * $i;
        }
    }
}
@for $i from 1 through $maxColumnas {
    .offset-by-#{$i} {
        margin-left: (100% / $maxColumnas) * $i;
    }
}