$size: 5rem;
@for $i from 1 through 6 {
    h#{$i} {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: $size * (0.5/$i);
        color: $color1-Encendido;
        text-decoration: underline $color2 0.13em;
    }
}
@media (min-width: 480px) {
    @for $i from 1 through 6 {
        h#{$i} {
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            font-size: $size * (1/$i);
            color: $color1-Encendido;
            text-decoration: underline $color2 0.13em;
        }
    }
}
@media (min-width: 768px) {
    @for $i from 1 through 6 {
        h#{$i} {
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            font-size: $size * (1.2/$i);
            color: $color1-Encendido;
            text-decoration: underline $color2 0.13em;
        }
    }
}
@media (min-width: 1280px) {
    @for $i from 1 through 6 {
        h#{$i} {
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            font-size: $size * (1.5/$i);
            color: $color1-Encendido;
            text-decoration: underline $color2 0.13em;
        }
    }
}
p {
    font-family: "Times New Roman", Times, serif;
    color: $color1-Encendido;
}

a{
    background-color: black;
    &:link {
        color: black;
    }
    
    &:visited {
        color: $color1-Encendido;
        font-style: italic;
        font-style: oblique;
    }
    
    &:focus {
        color: $color2;
    }
    
    &:hover {
        color: $color4-Encendido;
    }
}